anyio==3.6.1
bpyutils==0.5.2
click==8.1.3
Deprecated==1.2.13
fastapi==0.79.0
h11==0.13.0
httptools==0.4.0
idna==3.3
injector==0.20.1
pipupgrade==1.12.0
pydantic==1.9.1
pydantic-yaml==0.8.0
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
semver==2.13.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
types-Deprecated==1.2.9
typing_extensions==4.3.0
uvicorn==0.18.2
uvloop==0.16.0
watchfiles==0.15.0
websockets==10.3
wrapt==1.14.1
